!!!5
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = true
- var lib = { jquery: true, d3js: true, angular: false, bootstrap: false, semantic: true}
- var assets = "/assets"
html
  head
    title 
    meta(charset="utf-8")
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="v2.css")
    script(type="text/javascript",src="v2.js")
  body(ng-app,ng-controller="budgetCtrl")
    div#header
      p.desc 從1990年至今，將近300兆元的國科會補助發給各大專院校，其中前面 xxx%(待確認) 的學校申請下來的經費加總，超過後面 xxx%(待確認) 的學校。申請的學校一排下來，大家心目中的「好」學校總是在研究補助經費上名列前茅...
      div.nav
        h2.title 國科會研究經費 - 你還在排隊嗎？
        i#prev.circular.icon.double.angle.left.link
        i#next.circular.icon.double.angle.right.link
      div.op
        i#expand.resize.full.icon.link 展開
        i#collapse.resize.small.icon.link 收合
    div#visual
